.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #3498db;
  /* Change color as needed */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-top: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



/* Card */
.cart-counter button {
  font-size: 1rem;
}

.container-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  /* Adjust the gap between products */
  padding: 20px;
}

.card {
  width: 300px;
  /* Adjust the width of each product */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-image {
  width: 100%;
  /* Ensure the image fills the container */
  min-height: 200px;
  /* Limit the height of the image */
  object-fit: cover;
  /* Prevent image distortion */
  border-radius: 5px;
  background-color: #ccc;
}

.card-actions {
  justify-content: space-between;
}

.cart-counter button {
  font-size: 1.2rem;
}

.cart-actions {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .card {
    width: calc(45% - 20px);
    /* Adjust for smaller screens */
    padding: 5px;
  }

  .container-menu {
    gap: 15px;
    padding: 10px;
  }
}

@media screen and (max-width: 680px) {
  .card {
    width: calc(45% - 10px);
    /* Adjust for even smaller screens */
    padding: 5px;
  }

  .container-menu {
    gap: 10px;
    padding: 10px;
  }

  .card-actions {
    flex-direction: column;
    margin: 5px 0px;
  }

  .cart-counter button {
    font-size: 1rem;
  }
}



/* Table Css */

.table-container {
  overflow-x: auto;
  margin: 20px 5px;
  /* Enable horizontal scrolling on small screens */
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 2;
  /* Border color */
  border-radius: 8px;
  overflow: hidden;
}

td {
  padding: 12px;
  text-align: left;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  /* Font family */
}

thead,
thead tr {
  background-color: #417fb6;
  font-family: 'Times New Roman', Times, serif;
}


.finalTr {
  background-color: rgb(73, 151, 73);
}

/* Styles for responsiveness */
@media screen and (min-width: 1192px) {

  .table-container {
    overflow-x: auto;
    margin: 20px 5px;
    width: 60%;
    margin: auto;
    /* Enable horizontal scrolling on small screens */
  }
}


@media screen and (max-width: 500px) {

  /* Make table cells display as block elements for small screens */
  td {
    display: block;
    padding: 8px;
    font-size: 1rem;
  }

  /* Style the first column (Item) */
  td:nth-child(1) {
    font-weight: bold;
  }
}