/* Card */
.cart-counter button {
  font-size: 1rem;
}

.container-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  /* Adjust the gap between products */
  padding: 20px;
}

.card {
  width: 350px;
  /* Adjust the width of each product */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-image {
  width: 100%;
  /* Ensure the image fills the container */
  min-height: 200px;
  /* Limit the height of the image */
  object-fit: cover;
  /* Prevent image distortion */
  border-radius: 5px;
  background-color: #ccc;
}