* {
  font-family: 'Times New Roman', Times, serif;
}

/* react toastify css */
.toastBody {
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
  color: #f0f0f0;
  font-weight: 700;
  font-size: 1.2rem;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #3498db;
  /* Change color as needed */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-top: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



/* Card */
.container-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  /* Adjust the gap between products */
  padding: 20px;
}

.card {
  width: 300px;
  /* Adjust the width of each product */
  border-radius: 5px;
  border: 1px solid #1976d2;
  padding: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-image {
  width: 100%;
  /* Ensure the image fills the container */
  min-height: 200px;
  /* Limit the height of the image */
  object-fit: cover;
  /* Prevent image distortion */
  border-radius: 5px;
  background-color: #ccc;
}

.card-title {
  font-size: 1.5rem;
  color: #1976d2;
}

.card-price {
  font-size: 1.3rem;
  color: #2e7d32;
}

.cart-counter {
  display: flex;
  justify-content: space-around;
}

.cart-counter button {
  font-size: 1rem;
  width: fit-content;
}


@media screen and (max-width: 868px) {
  .card {
    width: 300px;
    /* Adjust for smaller screens */
    padding: 5px;
  }

  .container-menu {
    gap: 10px;
    padding: 10px;
  }
}

@media screen and (max-width: 680px) {
  .card {
    width: 200px;
    /* Adjust for even smaller screens */
    padding: 5px;
  }

  .card-title {
    font-size: 1rem;
  }

  .cart-counter {
    display: flex;
    justify-content: space-around;
  }

  .card-price {
    font-size: 1rem;
  }

  .cart-counter button {
    font-size: 0.8rem;
    padding: 5px 5px;
  }

  .toastBody {
    font-weight: 500;
    font-size: 0.975rem;
  }
}

@media screen and (max-width: 470px) {
  .card {
    width: 180px;
    /* Adjust for even smaller screens */
    padding: 5px;
  }
}

/* Cart Css */
.cartCard {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2px 0px;
  padding: 0px 10px;
}

.cartItemsContainer {
  max-height: 60vh;
  overflow: auto;
}

.cartItems {
  height: max-content;
}

.cart-title {
  font-size: 1.5rem;
  color: #1976d2;
}

.total-title {
  font-size: 1.5rem;
  color: #2e7d32;
}

.cart-container {
  margin: 20px 5px;
}

.posi-fixed {
  position: fixed;
  bottom: 0;
  width: 94%;
}

.cartBtn {
  display: flex;
  justify-content: space-between;
}

/* Styles for responsiveness */
@media screen and (min-width: 1192px) {

  .cart-container {
    margin: 20px 5px;
    width: 50%;
    margin: auto;
    /* Enable horizontal scrolling on small screens */
  }

  .posi-fixed {
    position: fixed;
    width: 50%;
  }

  .bottom {
    position: fixed;
    bottom: 0;
    width: 50%;
  }
}


@media only screen and (max-width: 500px) {
  .cart-title {
    font-size: 1rem;
  }

  .total-title {
    font-size: 1rem;
  }

  .cartItemsContainer {
    max-height: 50vh;
  }
}